.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* special case for 3 columns, probably too inclusive */
.columns.columns-3-cols div:last-child {
  order: 0;
}

.columns.columns-3-cols div div:first-child {
  display: none;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  /* special case for 3 columns, probably too inclusive */
  .columns.columns-3-cols div div:first-child {
    display: unset;
  }
}
